@import "tailwindcss";

:root {
  --background: #302014;
  --text-accent: #89d159;
  --text-primary: #dddddd;
}

@theme inline {
  --color-background: var(--background);
  --color-accent: var(--text-accent);
  --color-primary: var(--text-primary);
  --font-sans: var(--font-georama);
  --font-mono: var(--font-georama);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-georama);
}
